@charset "UTF-8";
@import "rest";
$font-color-money:#cc9966;  //字体颜色 钱
$font-color2:#999999;
%wrap{
  margin: 0 auto;
  width: 93.75%;
  overflow: hidden;
}
.wrap{
  @extend %wrap;
}
.top-head{
  height: 46px;
  margin-bottom: 3px;
    .btn1{
      float: left;
      width: 49.33333%;
      height: 46px;
      border-top: 5px solid #616161;
      border-bottom: 5px solid #616161;
      background: #747474;
      color: #ffffff;
      line-height: 36px;
      text-align: center;
      font-size: 2.2em;
      font-weight: bold;
    }
    .btn2{
      font-size: 1.6em;
      font-weight: normal;
      float: right;}
}
.content-wrap{
  @extend %wrap;
}
.content-mode1{
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  background: #ffffff;
  overflow: hidden;
}
.content-img{
  width: 100%;
    img{
      width: 100%;}
}
.content-info{
  position: relative;
  top: -55px;
  padding: 3%;
  margin: 0 auto;
  width: 89%;
  background: #ffffff;
    header{
      font-size: 2.4em;
      line-height: 1.2em;
    }
  .price{
    margin: 12px 0 6px 0;
    color: $font-color-money;
    font-size: 1.2em;
  }
  p{
    font-size: 1.2em;
    color:$font-color2;
  }
}
.index-footer{
  margin: 12px auto 22px auto;
  width: 60%;
  height: 28px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
  font-size: 1.2em;
  background: #c2c2c2;
}